
# Most of the below is the result of Visual Studio, gradle and VSTest.
/**/[Tt]arget/**
/**/[Bb]in/**
/**/[Oo]bj/**
/**/[Oo]utput/**
/**/[Tt]est[Rr]esults/**
/**/[Pp]kg/**
/**/[Pp]ackages/**
/**/[Bb]uild/**
/**/.[Gg]radle/**
/**/[Rr]elease/**
/**/[Dd]ebug/**
/**/[Tt]arget/**
/**/[Ff]akes[Aa]ssemblies/**

# All kinds of output and temporary files that should not be checked in.
/**/*.exe
/**/*.dll
/**/*.pdb
/**/*.o
/**/*.hi
/**/*.class
/**/*.jar
/**/*.war
/**/*.beam
/**/*.trx
/**/*.log
/**/.vs/
/**/*.bak
/**/*.suo
/**/*.user
# /**/*.sln
/**/*.db
/**/*.metaproj
/**/*.metaproj.tmp
/**/*.lock.json
/**/*.nupkg
/**/*.binlog
/**/log.txt

# Generated version files.
.version/**/*
/**/*/PipelineAssemblyInfo.cs

# Visual Studio junk.
**/.vs/**/*
/**/*/__pycache__/**/*

# Node Packages
node_modules/

# Pipeline generated junk.
pipeline.log
endortemp/
artifacts/

/docs/_site
/docs/content/_site
/docs/_exported_templates
/docs/content/templates_bootstrap/plugins
/docs/content/api/**/*

# Some of the TOCs are updated manually and others
# are static. This help manage them.
# **/toc.yml
!/docs/content/toc.yml
!/docs/content/api/toc.yml
!/docs/content/api/index.md
!/docs/content/api/articles
!/docs/content/api/articles/**

!/docs/content/api/usage-billing
!/docs/content/api/usage-billing/toc.yml
!/docs/content/api/usage-billing/index.md
!/docs/content/api/logging
!/docs/content/api/logging/toc.yml
!/docs/content/api/logging/index.md
!/docs/content/api/docfx
!/docs/content/api/docfx/toc.yml
!/docs/content/api/docfx/index.md

# Folder generated by the development deployment script.
/deployment/output
/deployment/ev2schemea.*

# Database project artifacts.
**/*.dbmdl
**/*.jfm

# Docker environment files generated by users.
.docker/.env

#Ignore azure function Properties
/src/Microsoft.Azure.UsageBilling.GenevaBlobIngestion/Properties
/src/Microsoft.Azure.UsageBilling.GenevaBlobIngestion/local.settings.json

# Ignore the OneBranch output directory.
/out

# Ignore the Nuget Authhelper folder in the tool directory.
/tools/Microsoft.VisualStudio.Services.NuGet.AuthHelper.*/**/*

# These can only be built in the VSBuild pipeline so there will be faliures usin MSBuild which
# is used by default in our build pipeline.
!/src/Microsoft.Azure.UsageBilling.Configuration.ServiceFabric.Test/FakesAssemblies/System.Fabric.7.0.0.0.Fakes.dll
!/src/Microsoft.Azure.UsageBilling.Configuration.ServiceFabric.Test/FakesAssemblies/System.Fabric.7.0.0.0.Fakes.fakesconfig
!/src/Microsoft.Azure.UsageBilling.Configuration.ServiceFabric.Test/FakesAssemblies/System.Fabric.7.0.0.0.Fakes.xml

**/appsettings.Development.user.json
**/*.appsettings.Development.user.json
/src/Microsoft.Azure.UsageBilling.ServiceMonitoring/Monitoring/ubtestUsageBillingConfig.xml

# Asa project files generated by the Azure Streaming Analytics vscode extension
**/asaproj.json

# scan results from hard coded scans
tools/scanResults.json
tools/scanResultsAll.json
tools/scanResultsExclusions.json
tools/scanResultsInlineExclusions.json

# File generated by our deployment powershell module
OroDeployment.psd1

**/cache/*.dat